
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HTML Elements~~~~~~~~~~~~~~~~~~~~~~~~ */
h1, h2, h3 {
    font-family: "Montserrat";
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: center;

}

p {
    line-height: 1.3rem;
    color: grey;
}
i{
    padding-right: 8px;
}

button{
    margin-right: 20px;
}

/* Headings and texts*/

.big-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    padding: 15% 0 10% 0;
}
.medium-heading {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;

}

.small-heading {
    font-weight: 700;
    font-size: 1.5rem
}

.price-heading{
    font-weight: 500;
    font-size:2.5rem;
}

.small-text{
    font-size: 1rem;
}


/* IDS */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Title Section~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#title{
    background: #ff4c68;
    color: white;
    position: relative;
    z-index: 1;

}
#title .container-fluid{
    padding: 0 15% 7%;
    text-align: left;
}
/* Navigation bar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 5%;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.3rem;
    font-weight:400
}

/* Title image */
.title-image{
    width: 60%;
    position: absolute;
    right: 30px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Features Sections~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#features{
    padding: 7%  0;
    background-color: white;
    position: relative;
    z-index: 1;
}

.pink-icon{
    color: #ef8172;
    margin: 20px 0;
}

.pink-icon:hover{
    color: #ff4c58;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Testimonial section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`*/
#testimonials{
    background-color: #ef8172;
    color: white;
}

.testimonial-image{
    border-radius: 50%;
    width: 8%;
    margin-top: 3%
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Press section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#press{
    background-color: #ef8172;
}

.press-image{
    width:12%;
    margin: 3%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Pricing section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.card-block{
    padding: 5%;
}


.month{
    color:grey;
    font-weight: 400;
    font-size: 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Call to action section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#cta{
    background-color: #ff4c68;
    padding: 7% 17%;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer section ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#footer{
    padding: 7% 17%;
    background-color: white;
}

.logo{
    margin: 20px 10px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~General CLASS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container-fluid{
    padding:7% 15%;
}

.rotated {
    transform: rotate(35deg); /* Equal to rotateZ(45deg) */
  }



/* ~~~~~~~~~~~~~~~~~~~~~~~~CSS breakpoint~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
        margin-top: 5%;
    }

    #title{
        text-align: center;
    }
}
